@using Microsoft.AspNetCore.Components.Forms

<div class="mb-3">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="form-label">@Label @if (IsRequired)
            {
                <span class="text-danger">*</span>
            }</label>
    }
    <InputTextArea class="form-control"
                   Value="@Value"
                   ValueChanged="ValueChanged"
                   ValueExpression="FieldExpression"
                   id="@FieldId"
                   disabled="@Disabled"
                   placeholder="@Placeholder"
                   rows="@Rows" />
    <ValidationMessage For="@FieldExpression" />
</div>