@using Microsoft.AspNetCore.Components.Forms
@typeparam TValue

    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="form-label">
            @Label
            @if (IsRequired)
            {
                <span class="text-danger">*</span>
            }
        </label>
    }
    <InputNumber TValue="TValue"
                 class="@CssClass"
                 Value="@Value"
                 ValueChanged="ValueChanged"
                 ValueExpression="FieldExpression"
                 id="@FieldId"
                 disabled="@Disabled"
                 placeholder="@Placeholder"
                 style="@InputStyle" />
    <ValidationMessage For="@FieldExpression" />
