@using AutoDoc.Shared.Model.DTO.Enumerations
@using AutoDocFront.Components.Shared
@using AutoDocFront.Components.Shared.Inputs
@using AutoDocFront.Models.Enumerations
@inherits ModalBase

<BaseModalLayout IsOpen="@IsOpen" Title="@((IsEditMode ? $"Izmjena grupe {_model.Name}" : "Nova grupa"))" IsOpenChanged="@IsOpenChanged">
    <BodyContent>
        @if (Mode == ModalMode.VIEW)
        {
            <div>
                <ReadOnlyInputText Label="Naziv grupe" Value="@_model.Name" />
                <ReadOnlyInputText Label="Opis grupe" Value="@_model.Description" IsTextArea="true" Rows="3" />
                <ReadOnlyInputText Label="Status" Value="@_model.Status.ToString()" />
            </div>
        }
        else
        {

            <EditForm EditContext="_editContext" OnValidSubmit="HandleValidSubmitAsync">
                <DataAnnotationsValidator />

                <div class="mb-3">
                    <ValidatedInputText Label="Naziv grupe"
                                        IsRequired="true"
                                        @bind-Value="_model.Name"
                                        FieldExpression="@(() => _model.Name)" />
                </div>

                <div class="mb-3">
                    <ValidatedInputTextArea Label="Opis"
                                            Rows="3"
                                            @bind-Value="_model.Description"
                                            FieldExpression="@(() => _model.Description)" />
                </div>

                <div class="mb-3">
                    <ReadOnlyInputText Label="Status"
                                       Value="@_model.Status.ToString()" />
                </div>

            </EditForm>
        }
    </BodyContent>

    <FooterContent>
        <div class="modal-footer d-flex justify-content-between align-items-center">
            <div>
                @if (IsEditMode)
                {
                    @if (_model.Status == GroupStatusType.ACTIVE)
                    {
                        <button type="button" class="btn btn-danger btn-sm" @onclick="() => ChangeGroupStatusAsync(GroupStatusType.DEACTIVATED)" disabled="@_isLoading">
                            <i class="fas fa-lock me-1"></i> Deaktiviraj grupu
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-success btn-sm" @onclick="() => ChangeGroupStatusAsync(GroupStatusType.ACTIVE)" disabled="@_isLoading">
                            <i class="fas fa-unlock me-1"></i> Aktiviraj grupu
                        </button>
                    }
                }
            </div>
            <div>
                <button type="submit" class="btn modal-corporate-button-primary btn-sm" @onclick="HandleValidSubmitAsync" disabled="@_isLoading">
                    @(_isLoading ? "Spremanje..." : (IsEditMode ? "Sačuvaj izmjene" : "Kreiraj grupu"))
                </button>
            </div>
        </div>
    </FooterContent>
</BaseModalLayout>